body {
  font-family: sans-serif;
}
.menu {
  border: 3px solid black;
}
.menu ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-content: center;
  margin-top: 0;
}
.menu h1 {
  border: 2px solid black;
  display: flex;
  background-color: black;
  color: white;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 50%;
  text-align: center;
  font-size: 25px;
  box-shadow: 10px 5px 5px gray;
}
.menu ul li {
  margin: 20px 10px;
}
.menu ul a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: #06a327;
}
